<!-- templates/add_movie.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
</head>
<body>
	<nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
        </nav>
    <h1>Add Movie</h1>
    <form action="/add_movie" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>
        
        <label for="genero">Genre:</label><br>
        <input type="text" id="genero" name="genero" required><br>
        
        <label for="duration">Duration:</label><br>
        <input type="text" id="duration" name="duration" required><br>
        
        <label for="release_year">Release Year:</label><br>
        <input type="text" id="release_year" name="release_year" required><br>
        
        <label for="director">Director:</label><br>
        <input type="text" id="director" name="director" required><br>
        
        <label for="actors">Actors:</label><br>
        <input type="text" id="actors" name="actors" required><br>
        
        <label for="rating">Rating:</label><br>
        <input type="text" id="rating" name="rating" required><br>
        
        <button type="submit">Add Movie</button>
    </form>
</body>
</html>
